.card__contaier {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 610px;
    position: relative;

    .image__container {
        position: relative;
        background: #FFF;
        border-radius:  30px 0 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
            margin: 0px 0px 3% 4%;
            transition: width 300ms ease, height 300ms ease; 

            &__small {
                width: 300px;
                height: 300px;
            }

            &__middle {
                width: 375px;
                height: 375px;
            }

            &__large {
                width: 450px;
                height: 450px;
            }
        }

        .big__сircle {
            width: 450px;
            height: 450px;
            border-radius: 50%;
            border: 2px dotted #DEDEDE;
            position: absolute;
            top: 66px;
            left: 27px;
            opacity: 0;
            transition: 200ms;
        }

        .small__сircle {
            width: 375px;
            height: 375px;
            border-radius: 50%;
            border: 2px dotted #DEDEDE;
            position: absolute;
            top: 104px;
            left: 65px;
            opacity: 0;
            transition: 200ms;
        }

        .active {
            transition: 300ms;
            opacity: 1;
        }
    }

    .description__container {
        height: 100%;
        padding: 25px 40px 15px 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: #F4F1EE;
        border-radius: 0 30px 30px 0;
        position: relative;

        .title__container {
            display: flex;
            flex-direction: column;

            .description {
                color: #373737;
            }
        }   
        
        .add__bttuon {
            position: sticky;
            bottom: 5px; 
            left: 40px; 
            right: 40px; 
            background-color: #F4F1EE;
            width: 100%;
            padding: 15px;
            border: 1px solid var(--orange-color);
            border-radius: 18px;
            background-color: var(--orange-color);
            color: #FFF;
            font-weight: 700;
            cursor: pointer;
            z-index: 10;

            &:hover {
                background-color: #FFE5CC;
                color: var(--orange-color);
                transition: 300ms;
            }
        }
    
        .options__block {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .options__container {
                width: 420px;
                height: 39px;
                padding: 2px 4px;
                background: #ECECEC;
                display: flex;
                align-items: center;
                border-radius: 30px;
    
                .settings__list {
                    width: 100%;
                    list-style-type: none;
                    display: flex;
                    position: relative;
                    padding: 0;
        
                    .list__item {
                        width: 100%;
                        z-index: 2;
        
                        & input[type='radio'] {
                            position: absolute;
                            opacity: 0;
                            width: 0;
                            height: 0;
                         }
        
                        .option {
                            padding: 8px 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 30px;
                        }

                        &__disabled {
                            cursor: not-allowed;
                            opacity: 0.3;
                            pointer-events: none; 
                        }

                        &__disabled:hover {
                            cursor: not-allowed;
                        }
                    }
        
                    .size__glider {
                        height: 33px;
                        width: calc(32.7777%);
                        position: absolute;
                        background: #FFF;
                        border-radius: 30px;
                        transition: 250ms ease-out;
                        z-index: 1;
                        top: 2px;
                    }
        
                    .dough__glider {
                        height: 33px;
                        width: calc(49.66666%);
                        position: absolute;
                        background: #FFF;
                        border-radius: 30px;
                        transition: 250ms ease-out;
                        z-index: 1;
                        top: 2px;
                    }
                }
            }
        }
        
        .add__ingredietns_container {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        
            .ingredients__container {
                padding: 10px;
                display: flex;
                max-height: 250px;
                flex-wrap: wrap;
                gap: 12px;
                overflow-y: scroll;
                border-radius: 10px;

                &::-webkit-scrollbar {
                    width: 6px;
                    height: 10px;
                }
            
                &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 3px;
                transition: 300ms;
                }
            
                &::-webkit-scrollbar-thumb {
                background: rgba(86, 86, 86, 0.3);
                border-radius: 3px;
                }
            
                &::-webkit-scrollbar-thumb:hover {
                cursor: pointer;
                background: rgba(0, 0, 0, 0.423);
                }
            }
        }

    }

    .close__button {
        position: absolute;
        right: -40px;
        top: -5px;
        border: none;
        padding: 0;
        background: transparent;
        transition: 500ms;

        &:hover {
            cursor: pointer;
            transform: scale(1.1) rotate(180deg);
        }
    }
}

