.card__contaier {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 580px;
    position: relative;

    .image__container {
        position: relative;
        background: #FFF;
        border-radius:  30px 0 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
            margin: 4% 0 0 4%;
            transition: width 300ms ease, height 300ms ease; 

            &__small {
                width: 300px;
                height: 300px;
            }

            &__middle {
                width: 375px;
                height: 375px;
            }

            &__large {
                width: 450px;
                height: 450px;
            }
        }

        .big__сircle {
            width: 450px;
            height: 450px;
            border-radius: 50%;
            border: 2px dotted #DEDEDE;
            position: absolute;
            top: 66px;
            left: 27px;
        }

        .small__сircle {
            width: 375px;
            height: 375px;
            border-radius: 50%;
            border: 2px dotted #DEDEDE;
            position: absolute;
            top: 104px;
            left: 65px;
        }
    }

    .ingredients__container {
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background: #F4F1EE;
        border-radius: 0 30px 30px 0;

        .options__block {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .options__container {
                width: 420px;
                height: 39px;
                padding: 2px 4px;
                background: #ECECEC;
                display: flex;
                align-items: center;
                border-radius: 30px;
    
                .settings__list {
                    width: 100%;
                    list-style-type: none;
                    display: flex;
                    position: relative;
                    padding: 0;
        
                    .list__item {
                        width: 100%;
                        z-index: 2;
        
                        & input[type='radio'] {
                            display: none;
                         }
        
                        .option {
                            padding: 8px 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 30px;
                        }

                        &__disabled {
                            cursor: not-allowed;
                            opacity: 0.3;
                            pointer-events: none; 
                        }

                        &__disabled:hover {
                            cursor: not-allowed;
                        }
                    }
        
                    .size__glider {
                        height: 33px;
                        width: calc(32.7777%);
                        position: absolute;
                        background: #FFF;
                        border-radius: 30px;
                        transition: 250ms ease-out;
                        z-index: 1;
                        top: 2px;
                    }
        
                    .dough__glider {
                        height: 33px;
                        width: calc(49.66666%);
                        position: absolute;
                        background: #FFF;
                        border-radius: 30px;
                        transition: 250ms ease-out;
                        z-index: 1;
                        top: 2px;
                    }
                }
            }
        }
        
        .add__bttuon {
            padding: 15px ;
            border: 1px solid var(--orange-color);
            border-radius: 18px;
            background-color: var(--orange-color);
            color: #FFF;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                background-color: #FFE5CC;
                color: var(--orange-color);
                transition: 300ms;
            }
        }
    }

    .close__button {
        position: absolute;
        right: -50px;
        top: -5px;
        border: none;
        padding: 0;
        background: transparent;

        &:hover {
            cursor: pointer;
        }
    }
}

