.container {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 16px 22px;
    border-radius: 15px;
    background: var(--top-bar-background-color);
}

.icon {
    padding-bottom: 2px;
}

.button {
    width: 100px;
    text-align: start;
    position: relative;
    border: none;
    background-color: transparent;
    padding: 1px 0;
    color: var(--orange-color);
    padding-bottom: 2px;
    font-weight: 800;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 1px solid var(--orange-color);
        border-radius: 5px;
    }

    .popup {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 120px;
        padding: 4px 10px;
        background: #f2f2f2;
        border-radius: 5px;
        position: absolute;
        display: none;
        z-index: 0;
        top: 25px;
        left: -14px;
    }

    &:hover .popup {
        display: inline;
    }

    .category__button {
        border: none;
        background-color: transparent;
        padding: 0;

        &:hover {
            transition: 300ms;
            cursor: pointer;
            color: #c74a02;
        }
    }
}
