.header {
    width: 100%;
    padding: 44px 0 42px;
    border-bottom: 1px solid rgba(237, 237, 237, 1);
}

.container {
    max-width: 1312px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: -1;
    opacity: 0;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: default;
    transition: opacity 0.3s ease, z-index 0.3s ease;
  
    &.open {
      opacity: 1;
      z-index: 999999;
    }
  }

